{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'appAccounting/account-auth.css' %}">
    <title>Sign in</title>
</head>
<body>
    <h1>Log In</h1>
    {% for message in messages %}
        <p>{{message}}</p>
    {% endfor %}
    <form method="post">
        {% csrf_token %}
        <fieldset>
            {{form.as_p}}
        </fieldset>
        <button type="submit" name="signin">Sign in</button>
        <button onclick="location.href = '/signup'" class="nxt-pg">Create your Account</button>
    </form>
</body>
</html>